<section class="stay-tuned row justify-content-center">
    <div class="card p-3 col-12 col-lg-6">
        <div class="card-body row">
            <h3 class="card-title title">{{ "pages.homepage.stay_tuned_title"|trans }}</h3>

            <p class="card-text paragraph col-12 col-xl-6">
                {{ "pages.homepage.stay_tuned_paragraph"|trans|raw }}
            </p>

            <div class="col-12 col-xl-6">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_row(form.name, {
                    label: "form.label.first_name",
                    row_attr: {class: 'form-floating mb-3'}
                }) }}
                {{ form_row(form.email, {
                    label: "form.label.email",
                    row_attr: {class: 'form-floating mb-3'}
                }) }}
                <div class="justify-content-md-center">
                    {{ form_row(form.save, {
                        label: "marketing.early_bird.register",
                        attr: { class: 'button btn-outline-primary btn-lg w-100' },
                    }) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</section>