<section class="stay-tuned row justify-content-center">
    <div class="card p-3 col-12 col-lg-6">
        <div class="card-body row">
            <h3 class="card-title title">L'aventure commence ici... pour nous aussi !</h3>

            <p class="card-text paragraph col-12 col-xl-6">
                MyBicycleJourney est tout nouveau et nous ne sommes pas tout à fait prêt à prendre la route.
                <br><br>
                En attendant, si tu souhaites être informé des avancées tu peux t'inscrire ici et tu seras
                averti dès qu'il y a du nouveau.
            </p>

            <div class="col-12 col-xl-6">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_row(form.name, {
                    label: "Prénom",
                    row_attr: {class: 'form-floating mb-3'}
                }) }}
                {{ form_row(form.email, {
                    label: "Email",
                    row_attr: {class: 'form-floating mb-3'}
                }) }}
                <div class="justify-content-md-center">
                    {{ form_row(form.save, {
                        label: 'Tiens moi au courant 🤙',
                        attr: { class: 'button btn-primary btn-xl w-100' },
                    }) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</section>