{% extends "web/public/user/layout.html.twig" %}

{% block page_contents %}

    <h1 class="card-title mb-4 mt-3 fs-3">
        {{ "user.password_reset.forgot_password"|trans }}
    </h1>

    <p class="card-text text-muted mb-4">
        {{ "user.password_reset.enter_your_email"|trans }}
    </p>

    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    {{ form_start(form) }}

    {{ form_row(form.email, {
        label: "form.label.email",
        row_attr: {class: 'form-floating mb-3'},
        attr: {autocomplete: 'email'},
    }) }}

    <button type="submit" class="btn btn-xl fw-bold btn-primary w-100 mb-4">
        {{ "user.password_reset.send_password_reset_email"|trans }}
    </button>

    {{ form_end(form) }}
{% endblock %}
