<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        {% block title %}<title>{{ page.title ?? 'My Bicycle Journey' }}</title>{% endblock %}

        {% block metaData %}
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            
            {% if page is not null %}
                {% for meta in page.metas %}{{ meta.render | raw }}{% endfor %}
            {% endif %}
        {% endblock %}

        <link rel="icon" href="{{ asset('build/images/favicon.ico') }}" sizes="any">
        <link rel="apple-touch-icon" href="{{ asset('build/images/apple-touch-icon.png') }}">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        {% include 'web/shared/_third_party_scripts.html.twig' %}
    </head>
    <body>
        {% include 'web/shared/_flash_messages.html.twig' %}

        <header>
            {% block navbar %}{% include 'web/shared/_navbar.html.twig' %}{% endblock %}
        </header>

        {% block body %}
                {% block content %}{% endblock %}
        {% endblock %}
    </body>
</html>
