{% import "dashboard/components/navbar/desktop/_locale_switcher.html.twig" as LocalSwitcher %}
{% import "dashboard/components/navbar/desktop/_brand.html.twig" as Brand %}

<nav id="desktop-dashboard-nav" class="sidebar bg-white">
    <div style="border-color: black" class="mb-3 py-1 list-group list-group-horizontal border-bottom rounded-0">
        <div class="me-auto">
            {{ Brand.render() }}
        </div>
        {{ LocalSwitcher.render(navbar.localeSwitcher) }}
        <div>
            <a href="{{ path('frontend_homepage') }}" class="nav-link">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
            </a>
        </div>
    </div>

    <div class="list-group list-group-flush mx-2">
        <a href="{{ path('dashboard_homepage') }}"
           class="list-group-item list-group-item-action py-2">
            <i class="fas fa-tachometer-alt fa-fw"></i>
            <span class="ms-2">{{ 'global.dashboard'|trans }}</span>
        </a>
    </div>
</nav>