<div class="presentation">
    <div class="container">
        <section class="row section justify-content-center">
            <div class="col-md-10 col-lg-8">
                <h2 class="title">{{ "pages.the_project.main_presentation_title"|trans }}</h2>
                <p>{{ "pages.the_project.main_presentation_paragraph"|trans|raw }}</p>
            </div>
        </section>

        <section class="row section justify-content-center">
            <div class="col-md-10 col-lg-8">
                <h2 class="title">{{ "pages.the_project.how_it_works_presentation_title"|trans }}</h2>
                <p>{{ "pages.the_project.how_it_works_presentation_paragraph"|trans|raw }}</p>
            </div>
        </section>

        <section class="row section justify-content-center">
            <div class="col-md-10 col-lg-8">
                <h2 class="title">{{ "pages.the_project.advantage_presentation_title"|trans }}</h2>
                <p>{{ "pages.the_project.advantage_presentation_paragraph"|trans|raw }}</p>
            </div>
        </section>

        <section class="row section justify-content-center">
            <div class="col-md-10 col-lg-8">
                <h2 class="title">{{ "pages.the_project.available_at_presentation_title"|trans }}</h2>
                <p>{{ "pages.the_project.available_at_presentation_paragraph"|trans|raw }}</p>
            </div>
        </section>
    </div>
</div>
