<div class="presentation">
    <div class="container">
        <section class="row section justify-content-center">
            <div class="col-md-8">
                <h2 class="title">{{ "presentation.section1.title"|trans([], 'the-project') }}</h2>
                <p>{{ "presentation.section1.paragraph"|trans([], 'the-project')|raw }}</p>
            </div>
        </section>

        <section class="row section justify-content-center">
            <div class="col-md-8">
                <h2 class="title">{{ "presentation.section2.title"|trans([], 'the-project')|raw }}</h2>
                <p>{{ "presentation.section2.paragraph"|trans([], 'the-project')|raw }}</p>
            </div>
        </section>

        <section class="row section justify-content-center">
            <div class="col-md-8">
                <h2 class="title">{{ "presentation.section3.title"|trans([], 'the-project')|raw }}</h2>
                <p>{{ "presentation.section3.paragraph"|trans([], 'the-project')|raw }}</p>
            </div>
        </section>

        <section class="row section justify-content-center">
            <div class="col-md-8">
                <h2 class="title">
                    {{ "presentation.section4.title"|trans([], 'the-project')|raw }}
                </h2>
                
                <p>{{ "presentation.section4.paragraph"|trans([], 'the-project')|raw }}</p>
                
                <ul>
                    <li>{{ "presentation.section4.list_item1"|trans([], 'the-project')|raw }}</li>
                    <li>{{ "presentation.section4.list_item2"|trans([], 'the-project')|raw }}</li>
                </ul>
            </div>
        </section>
    </div>
</div>
