<div class="presentation">
    <div class="container">
        <section class="row section justify-content-center">
            <div class="col-md-8">
                <h2 class="title">{{ "pages.the_project.presentation.section1.title"|trans }}</h2>
                <p>{{ "pages.the_project.presentation.section1.paragraph"|trans|raw }}</p>
            </div>
        </section>

        <section class="row section justify-content-center">
            <div class="col-md-8">
                <h2 class="title">{{ "pages.the_project.presentation.section2.title"|trans }}</h2>
                <p>{{ "pages.the_project.presentation.section2.paragraph"|trans|raw }}</p>
            </div>
        </section>

        <section class="row section justify-content-center">
            <div class="col-md-8">
                <h2 class="title">{{ "pages.the_project.presentation.section3.title"|trans }}</h2>
                <p>{{ "pages.the_project.presentation.section3.paragraph"|trans|raw }}</p>
            </div>
        </section>

        <section class="row section justify-content-center">
            <div class="col-md-8">
                <h2 class="title">{{ "pages.the_project.presentation.section4.title"|trans }}</h2>
                <p>{{ "pages.the_project.presentation.section4.paragraph"|trans|raw }}</p>
            </div>
        </section>
    </div>
</div>
