<div class="stay-tuned">
    <div class="container">
        <h2 class="text-center title">
            {{ "stay_tuned.title"|trans([], 'the-project') }}
        </h2>
        <p>{{ "stay_tuned.paragraph"|trans([], 'the-project')|raw }}</p>
        
        <div class="form">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="row">
                <div class="col-xl-4">
                    {{ form_row(form.name, {
                        label: "label.first_name",
                        row_attr: {class: 'form-floating mb-3'}
                    }) }}
                </div>
                <div class="col-xl-4">

                    {{ form_row(form.email, {
                        label: "label.email",
                        row_attr: {class: 'form-floating mb-3'}
                    }) }}
                </div>
                <div class="col-xl-4">
                    <div class="justify-content-md-center">
                        {{ form_row(form.save, {
                            label: "stay_tuned.register",
                            translation_domain: "the-project",
                            attr: { class: 'button btn-secondary btn-xl fw-bold w-100' },
                        }) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
