{% extends "frontend/security/layout.html.twig" %}

{% block page_contents %}
    <h1 class="card-title mb-4 mt-3 fs-3">
        {{ "user.password_reset.reset_your_password"|trans }}
    </h1>

    <p class="card-text text-muted mb-4">
        {{ "user.password_reset.inform_your_password"|trans }}
    </p>

    {{ form_start(form) }}
    {{ form_row(form.plainPassword.first, {
        label: "form.label.new_password",
        row_attr: {class: 'form-floating mb-3'},
        attr: {autocomplete: 'new-password'}
    }) }}

    {{ form_row(form.plainPassword.second, {
        label: "form.label.repeat_password",
        row_attr: {class: 'form-floating mb-3'},
        attr: {autocomplete: 'new-password'}
    }) }}

    <button type="submit" class="btn btn-xl fw-bold btn-primary w-100 mb-4">
        {{ "user.password_reset.reset_password"|trans }}
    </button>
    {{ form_end(form) }}
{% endblock %}
