{# @var metadata \App\ContentManagement\Ui\Website\Web\Dto\Metadata #}

{% block title %}
    <title>{{ metadata.title }}</title>
{% endblock %}

{% block metadata %}
    <meta name="description" content="{{ metadata.description }}">

    <meta name="robots"
          content="{{ metadata.noindex ? "noindex" : "index" }}, {{ metadata.nofollow ? "nofollow" : "follow" }}"/>

    {% for alternate in metadata.localeAlternates %}
        <link rel="alternate" hreflang="{{ alternate.locale }}" href="{{ alternate.url }}"/>
    {% endfor %}

    {{ _self.open_graph(metadata.openGraph, metadata.localeAlternates) }}
{% endblock %}

{% macro open_graph(og, localeAlternates) %}
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="My Bicycle Journey">
    <meta property="og:url" content="{{ app.request.uri }}">
    <meta property="og:locale" content="{{ app.request.locale }}">

    {% if og.title is not null %}
        <meta property="og:title" content="{{ og.title }}">
    {% endif %}

    {% if og.description is not null %}
        <meta property="og:description" content="{{ og.description }}">
    {% endif %}

    {% if og.image is not null %}
        <meta property="og:image" content="{{ og.image }}">
    {% endif %}

    {% for alternate in localeAlternates %}
        <meta property="og:locale:alternate" content="{{ alternate.locale }}">
    {% endfor %}
{% endmacro %}