<nav class="navbar navbar-expand-md navbar-light bg-white">
    <div class="container-fluid">
        <a
                class="navbar-brand fw-bold"
                href="{{ path('homepage') }}"
        >🚴
            My Bicycle Journey
        </a>

        <!-- Right elements -->
        <div class="d-flex align-items-center">
            {{ _self.locale_selector() }}
        </div>
        <!-- Right elements -->

        {#        <button #}
        {#                class="navbar-toggler" #}
        {#                type="button" #}
        {#                data-bs-toggle="collapse" #}
        {#                data-bs-target="#navbarNavDropdown" #}
        {#                aria-controls="navbarNavDropdown" #}
        {#                aria-expanded="false" #}
        {#                aria-label="Toggle navigation" #}
        {#        > #}
        {#            <span class="navbar-toggler-icon"></span> #}
        {#        </button> #}

        {#        <div class="collapse navbar-collapse" id="navbarNavDropdown"> #}
        {#            <ul class="navbar-nav w-100"> #}
        {#            </ul> #}
        {#        </div> #}

    </div>
</nav>

{% macro locale_selector() %}
    {% set route = app.request.attributes.get('_route') %}
    {% set route_params = app.request.attributes.get('_route_params') %}
    {% set params = route_params|merge(app.request.query.all) %}

    <div class="dropdown locale-selector">
        <a
                class="dropdown-toggle d-flex align-items-center hidden-arrow"
                href="#"
                id="dropdown-language"
                role="button"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
        >
            <i class="flag flag-{{ app.request.locale|lower }}"></i>
            <span>{{ app.request.locale|upper }}</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown-language">
            {% for locale in locales %}
                {% if locale != app.request.locale %}
                    <li>
                        <a
                                class="dropdown-item"
                                href="{{ path(route, params|merge({ _locale: locale })) }}"
                        >
                            <i class="flag flag-{{ locale|lower }}"></i>
                            {{ locale|upper }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

{% endmacro %}
