<nav class="navbar navbar-expand-md navbar-light bg-white">
    <!-- Brand -->
    <a class="navbar-brand nav-link " href="{{ path('homepage') }}">
        <picture>
            <source srcset="{{ asset('build/images/logo/logo@1x.png') }}, 
                            {{ asset('build/images/logo/logo@2x.png') }} 2x"
                    media="(min-width: 576px)">

            <img srcset="{{ asset('build/images/logo/logo_responsive@1x.png') }}, 
                         {{ asset('build/images/logo/logo_responsive@2x.png') }} 2x"
                 alt="Brand logo"
                 height="22px"
            >
        </picture>
    </a>
    <!-- Left elements -->

    <!-- Left elements -->
    <div class="navbar-nav me-auto mb-2 mb-lg-0">
    </div>
    <!-- Left elements -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">
        {% if app.user %}
            {{ _self.my_account() }}
        {% else %}
            {{ _self.signup() }}
        {% endif %}
        {{ _self.locale_switcher(navbar.localeSwitcher) }}
    </div>
    <!-- Right elements -->
</nav>

{% macro locale_switcher(localeSwitcher) %}
    <div class="nav-item dropdown locale-selector">
        <a
                class="text-reset nav-link dropdown-toggle hidden-arrow"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                id="dropdown-language"
        >
            <i class="m-0 fs-2 flag flag-{{ app.request.locale|lower }}"></i>
        </a>
        <ul
                class="dropdown-menu dropdown-menu-end"
                aria-labelledby="dropdown-language"
                data-popper-placement="null"
                data-mdb-popper="none"
        >
            <li>
                <a class="dropdown-item" href="#">
                    <i class="flag-{{ app.request.locale|lower }} flag"></i>
                    {{ app.request.locale|locale_name(app.request.locale)|u.title }}
                    <i class="fa fa-check text-success ms-2"></i>
                </a>
            </li>
            <li>
                <hr class="dropdown-divider"/>
            </li>
            {% for locale in locales %}
                {% if locale != app.request.locale %}
                    <li>
                        <a class="dropdown-item"
                           href="{{ path(localeSwitcher.route, localeSwitcher.queryParams|merge({ _locale: locale })) }}"
                        >
                            <i class="flag flag-{{ locale|lower }}"></i>
                            {{ locale|locale_name(locale)|u.title }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endmacro %}

{% macro signup() %}
    <div class="nav-item">
        <a href="{{ path('signup') }}" class="signup nav-link">
            {{ 'navbar.signup'|trans }}
        </a>
    </div>
{% endmacro %}

{% macro my_account() %}
    <div class="nav-item">
        <a href="#"
           class="signup nav-link text-muted"
           style="pointer-events: none;"
        >
            <i class="fas fa-user-circle me-2"></i>
            {{ 'global.coming_soon'|trans }}
        </a>
    </div>
{% endmacro %}