<div class="background-illustration">
    <div class="inner bg-image" >
        <img alt="Background illustration image"
             class="image"
             src="{{ asset('build/images/signup/mbj_signup_background.png') }}"
             srcset="{{ asset('build/images/signup/mbj_signup_background.png') }} 1x,{{ asset('build/images/signup/mbj_signup_background.png') }} 2x,">
        <img alt="Background illustration responsive image"
             class="image d-lg-none"
             src="{{ asset('build/images/signup/mbj_signup_background_responsive.png') }}"
             srcset="{{ asset('build/images/signup/mbj_signup_background_responsive.png') }} 1x,{{ asset('build/images/signup/mbj_signup_background_responsive.png') }} 2x,">
    </div>
</div>

