<p class="card-text text-center text-muted mb-5">{{ "account_management.login.description"|trans|raw }}</p>

<form action="{{ path('login') }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    {% if error %}
        <div class="row mb-4">
            <div class="col-sm-12">
                <div class="alert alert-danger">
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                </div>
            </div>
        </div>
    {% endif %}
    
    <div class="row mb-4">
        <div class="col-sm-12">
            <div class="form-floating">
                <input type="text"
                       id="email"
                       name="email"
                       class="form-control"
                       required
                       value="{{ last_email }}"/>
                <label for="email">
                    {{ 'form.label.email'|trans }} :
                </label>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-sm-12">
            <div class="form-floating">
                <input
                        type="password"
                        id="password"
                        name="password"
                        class="form-control"
                        required
                />
                <label for="password" class="form-label required">
                    {{ 'form.label.password'|trans }} :
                </label>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-xl fw-bold btn-primary w-100 mb-3">
                {{ "account_management.login.signin"|trans }}
            </button>
        </div>
    </div>
</form>
 