<div class="registration-form">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title title mb-2">{{ "account_management.signup.title"|trans }}</h1>
            <p class="card-text text-muted description">{{ "account_management.signup.description"|trans }}</p>

            {{ form_start(form) }}

            {{ form_row(form.username, {
                label: "form.label.username",
                row_attr: {class: 'form-floating mb-4'}
            }) }}

            {{ form_row(form.email, {
                label: "form.label.email",
                row_attr: {class: 'form-floating mb-4'}
            }) }}

            {{ form_row(form.plainPassword, {
                label: "form.label.password",
                row_attr: {class: 'form-floating mb-4'}
            }) }}
            
            <button type="submit" class="btn btn-xl fw-bold btn-primary w-100 mb-3">
                {{ "account_management.signup.register"|trans }}
            </button>

            <p class="text-center text-muted privacy-policy">
                {{ "account_management.signup.privacy_policy"|trans({'link': path('privacy_policy')})|raw }}
            </p>
        </div>
    </div>

</div>

{{ form_end(form) }}