{% extends "frontend/security/layout.html.twig" %}

{% block page_contents %}

    {% include "frontend/security/authentication/_navigation.html.twig" with {
        'context': 'signup'
    } %}

    <h1 class="card-title mb-4 mt-3 fs-3">
        {{ "user.signup.title"|trans }}
    </h1>

    <p class="card-text text-muted mb-5">
        {{ "user.signup.description"|trans|raw }}
    </p>

    {{ form_start(form) }}
    
    {{ form_row(form.email, {
        label: "form.label.email",
        attr: {autocomplete: 'username'},
        row_attr: {class: 'form-floating mb-3'}
    }) }}

    {{ form_row(form.plainPassword, {
        label: "form.label.password",
        row_attr: {class: 'form-floating mb-3'}
    }) }}


    <button type="submit" class="btn btn-xl fw-bold btn-primary w-100 mb-3">
        {{ "user.signup.register"|trans }}
    </button>

    {{ form_end(form) }}

    <a href="{{ path('login') }}" class="btn btn-lg btn-link btn-link w-100 mb-3">
        {{ "user.signup.already_have_an_account"|trans }}
    </a>

    <p class="text-end text-muted">
        <small>
            {{ "user.signup.privacy_policy"|trans({'link': path('privacy_policy')})|raw }}
        </small>
    </p>
{% endblock %}

