{# @var breadcrumbs \App\ContentManagement\Ui\Website\Web\Dto\Breadcrumbs\Breadcrumbs #}

{# It is not necessary to pass the Breadcrumbs object in parameters,
the global variable {{ metadata }} already contains it #}

{# The component in stand-alone #}
{% macro render() %}
    {% if metadata is defined %}
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                {% for item in metadata.breadcrumbs.items %}
                    {% if loop.last %}
                        <li class="breadcrumb-item active" aria-current="page">
                            {{ item.label }}
                        </li>
                    {% else %}
                        <li class="breadcrumb-item">
                            <a href="{{ item.url }}">{{ item.label }}</a>
                        </li>
                    {% endif %}

                {% endfor %}
            </ol>
        </nav>
    {% endif %}
{% endmacro %}

{# The component in a "standard full page size row" with breadcrumbs in a container #}
{% macro row() %}
    {% if metadata is defined %}
        <div id="breadcrumbs">
            <div class="container">
                {{ _self.render() }}
            </div>
        </div>
    {% endif %}
{% endmacro %}